#body {
    text-align: center;
    
}

#title{
    background-color: gray; 
    height: 40px;
    
}

#bottom{
    background-color: gray;
    height: 40px;
}
#p{
    color: gray;
}

/*I like things simple*/ 